<h1 class="head">WELCOME TO THE BEST NEWS REVIEW WEBSITE</h1>
{% extends 'base.html'%} {% block content %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> {% endblock %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<br>
<br>
<br>
<body>

  <div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
            </div>

          </div>
        </div>

        <div class="col-7">
          <div class="container headlines">
            <div class="card-columns">
              {% for headlines in headlines %}

              <div class="card headlines">
                <img class="card image " src="{{headlines.image}}" alt="Card image cap" size="100px100"><br>
                <div class="card-body">
                  <h5 class="card-title">{{headlines.author}}</h5><br>
                  <p class="card-text">{{headlines.description}}</p>
                  <a href="{{headlines.url}}">
                    <!-- <p class="card-text details">See more details here</p> -->
                  <button class="card-text details">See more details here</button>   
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

{% endblock %}